{% extends "layout.html" %}
{% block title %}Tweebicle{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="about-main-right grid-x align-left">
<h1 class="about-main-text">What is Tweebicle?</h1>
<p class="leading-text">
    Organise your Professional life on Twitter. Don't miss out on the latest company or Industry related content.
</p>
<br>
    <ul class="list-group">
        <li class="list-group-item">Company Activity</li>
        <li class="list-group-item">Connect with Colleagues</li>
        <li class="list-group-item">Industry Activity</li>
        <li class="list-group-item">Localized Business Activity</li>
      </ul>
</div>
<div class="about-main-left grid-x align-center">
<h1 class="about-main-text">Intro Video</h1>

</div>
    {% endblock %}