{% extends "layout.html" %}
{% block title %}Tweebicle{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="main-left grid-x align-left">
<h2>Where Do we Start?</h2>
<br>
<h5>What's your Twitter Handle?</h5>
<input type="text" name="my_handle" id="myhandle">
<a class="button" href="/analyze-handle">Go!</a>
<br>
<h5 class="main-text">Where Do you Work?</h5>
<input type="text" name="org_name" id="orgname">
<a class="button" href="/analyze-org"></a>
</div>
    {% endblock %}